body {
    margin: 0;
    text-align: center;
    color: black;
    font-size: 1.1em;
    text-shadow: 0 0 4px #bbbbbb;
}

nav {
    display: flex;
    position: sticky;
    width: 100%;
    background: rgba(131,222,255,.5);
    background: linear-gradient(113deg, rgba(106,225,255,.5) 0%, rgba(131,222,255,.5) 50%, rgba(61,142,255,.5) 100%);
    height: 40px;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 16px #145275ce;
}

.navLabel {
    text-decoration: none;
}

main {
    margin: 8px;
}